.container{
margin:20px auto;
width:80%;
}

.header{
    background-color: red;
    height:100px;
}

.menu,
.main{
    float:left;
    height:400px;
}

.main{
    background-color: blue;
}

.menu{
    background-color: green;
    height: auto;
}